# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Windows folder metadata files
desktop.ini

# Unused image files
src/main/resources/images/DaDuke.jpg
src/main/resources/images/DaUser.jpg
src/main/resources/images/Old.png
src/main/resources/images/Old2.png

# Temp files
_temp/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Data files
data/